<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-header text-center">
      <h1 class="card-title">イベント通知作成</h1>
    </div>

    <div class="card-body">
      <%= form_with(model: [@group, @event], url: public_group_events_path(@group), local: true) do |form| %>
        <div class="form-group">
          <%= form.label :subject %>
          <%= form.text_field :subject, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: 'form-control' %>
        </div>


        <div class="d-flex justify-content-between mt-3">
          <%= form.submit '送信', class: 'btn btn-primary' %>
          <%= link_to '戻る', public_group_path(@group), class: "btn btn-secondary" %>
        </div>
        
      <% end %>
      <% if flash.now[:error] %>
        <div class="alert alert-danger mt-3">
          <%= flash.now[:error] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
