<h1>投稿編集</h1>

<%= form_with model: @post, url: public_post_path(@post), method: :patch, local: true do |form| %>
  <% if @post.errors.any? %>
    <div>
      <h2>エラーがあります</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit '更新する' %>
<% end %>

<%= link_to '戻る', public_post_path(@post) %>
