<h1>投稿一覧</h1>

<%= link_to '投稿検索', search_public_posts_path%>
<%= link_to '新規投稿', new_public_post_path %>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, public_post_path(post) %></h2>
    <p><%= post.content %></p>
    <%= link_to '編集', edit_public_post_path(post) %>
    <%= link_to '削除', public_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  </div>
<% end %>

