
<div class="container mt-4">
  <h2 class="text-center futuristic-title">管理者ダッシュボード</h2>

  <div class="row futuristic-container ">

    <div class="col-md-4 futuristic-box">
      <h4><i class="fas fa-users"></i> ユーザー数: <%= @users.count %></h4>
      <h5><i class="fas fa-user-check"></i> アクティブユーザー: <%= @active_users.count %></h5>

    </div>

    <div class="col-md-4 futuristic-box">
      <h4><i class="fas fa-file-alt"></i> 投稿数: <%= @posts.count %></h4>
      <h5><i class="fas fa-user-times"></i> 非アクティブユーザー: <%= @inactive_users.count %></h5>
    </div>

  </div>

<h4><%= link_to 'ユーザー検索へ', search_admin_users_path, class: 'nav-link' %></h4>
<h4><%= link_to 'グループ作成へのリンク', new_admin_group_path, class: 'nav-link' %></h4>
<h4>ジョブタグの作成へのリンク</h4>
<h4><%= link_to 'すべてのコメント一覧', admin_post_comments_path, class: 'nav-link' %></h4>




  

  <h3 class="mt-5"><%= link_to 'ユーザー一覧へ', admin_users_path, class: 'nav-link' %></h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>名前</th>
        <th>メール</th>
        <th>役職</th>
        <th>ステータス</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= user.status ? '入会中' : '退会済み' %></td>
          <td class="text-center">
            <%= link_to '詳細', admin_user_path(user), class: 'btn btn-info btn-sm' %>
            <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-warning btn-sm' %>
            <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3 class="mt-5"><%= link_to '投稿一覧へ', admin_posts_path, class: 'nav-link' %></h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>投稿者</th>
        <th>作成日</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= truncate(post.content, length: 50) %></td>
          <td><%= post.user.name %></td>
          <td><%= post.created_at.strftime('%Y-%m-%d') %></td>
          <td class="text-center">
            <%= link_to '詳細', admin_post_path(post), class: 'btn btn-info btn-sm' %>
            <%= link_to '編集', edit_admin_post_path(post), class: 'btn btn-warning btn-sm' %>
            <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
