<div class="container mt-5">
  <h1>シフト編集</h1>

  <!-- フォーム開始 -->
  <%= form_with model: @shift, url: public_user_shift_path(@shift.user_id, @shift.id), method: :patch, local: true do |form| %>
    
    <!-- 開始時間の入力 -->
    <div class="form-group mb-3">
      <%= form.label :shift_start_time, '開始時間' %>
      <%= form.datetime_local_field :shift_start_time, class: 'form-control', required: true %>
    </div>

    <!-- 終了時間の入力 -->
    <div class="form-group mb-3">
      <%= form.label :shift_end_time, '終了時間' %>
      <%= form.datetime_local_field :shift_end_time, class: 'form-control', required: true %>
    </div>

    <div class="form-group mb-3">
    <label for="shiftStatus">ステータス:</label>
    <select class="form-control" id="shiftStatus" name="shift[status]" required>
      <option value="unavailable">出勤不可</option>
      <option value="available">出勤可能</option>
      <option value="desired">出勤希望</option>
    </select>
    </div>

    <!-- コメントの入力 -->
    <div class="form-group mb-3">
      <%= form.label :comment, 'コメント' %>
      <%= form.text_area :comment, class: 'form-control' %>
    </div>

    <!-- ボタンエリア -->
    <div class="d-flex justify-content-between mt-4">
      
      <%= form.submit '保存', class: 'btn btn-primary' %>
      
      
      
      <%= link_to '戻る', public_user_shift_path(@shift.user_id, @shift.id), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
