<div class="container mt-5">
  <h1>シフト詳細</h1>

  <!-- シフト情報 -->
  <p><strong>開始時間:</strong> <%= @shift.shift_start_time %></p>
  <p><strong>終了時間:</strong> <%= @shift.shift_end_time %></p>
  <p><strong>ステータス:</strong> <%= @shift.status_name %></p>
  <p><strong>コメント:</strong> <%= @shift.comment %></p>
  
  <!-- ボタンエリア -->
  <div class="d-flex justify-content-between mt-4">
    <!-- 編集ページへのリンク (左端) -->
    <% if @group.leader == current_user %>
    <%= link_to '編集', edit_public_group_group_shift_path(@shift.group_id, @shift.id), class: 'btn btn-warning' %>
    <% end %> 
    <!-- インデックスページへ戻るリンク (右端) -->
    <%= link_to '戻る', public_group_group_shifts_path(@group), class: 'btn btn-secondary' %>
    <% if @group.leader == current_user %>
    <!-- 削除ボタン (右端) -->
    <%= link_to '削除', public_group_group_shift_path(@shift.group_id, @shift.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger' %>
    <% end %> 
  </div>

  <table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>参加者名</th>
      <th>シフト開始時間</th>
      <th>シフト終了時間</th>
      <th>シフトステータス</th>
    </tr>
  </thead>
  <tbody>
    <% if @member_shifts.present? %>
      <% @member_shifts.each do |shift| %>
        <tr>
          <td>
            <% if shift.user.present? %>
              <%= link_to shift.user.name, public_user_path(shift.user), class: 'btn btn-outline-primary' %>
              <% unless shift.user.status? %>
                <span class="required">※退会済み</span>
              <% end %>
            <% else %>
              <span class="text-danger">ユーザー情報なし</span>
            <% end %>
          </td>
          <td>
            <%= shift.shift_start_time.strftime('%Y-%m-%d %H:%M') %>
          </td>
          <td>
            <%= shift.shift_end_time.strftime('%Y-%m-%d %H:%M') %>
          </td>
          <td>
            <%= shift.status_name %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="text-center">
        <td colspan="4" class="text-danger">出勤無し</td>
      </tr>
    <% end %>
  </tbody>
</table>




</div>
