<h1 class="my-4 text-center">コメント編集</h1>

<div class="container">
  <%= form_with(model: [@post, @comment], url: admin_post_post_comment_path(@post, @comment), method: :patch, local: true) do |form| %>
    <div class="card shadow-lg">
      <div class="card-body">
        <!-- コメント内容入力フィールド -->
        <div class="form-group mb-3">
          <%= form.label :content, 'コメント内容', class: 'form-label' %>
          <%= form.text_area :content, class: 'form-control', rows: 5 %>
        </div>
      </div>
    </div>
    <!-- ボタンの配置 -->
    <div class="d-flex justify-content-between mt-4">
      <!-- 更新ボタン -->
      <div>
        <%= form.submit '更新', class: 'btn btn-primary' %>
      </div>

      <!-- 戻るボタン -->
      <div>
        <%= link_to '戻る',  request.referer || admin_post_post_comments_path(@post), class: 'btn btn-secondary ' %>
      </div>
    </div>
  <% end %>
</div>
