<h1>ユーザーシフト一覧</h1>

<!-- 検索フォーム -->
<%= form_with url: admin_shifts_path, method: :get, local: true do %>
  <div class="row mb-3">
    <!-- グループ名検索 -->
    <div class="col-md-4">
      <%= label_tag :user_name, 'グループ名' %>
      <%= text_field_tag :user_name, params[:user_name], class: 'form-control' %>
    </div>

    <!-- ステータス検索 -->
    <div class="col-md-4">
      <%= label_tag :status, 'ステータス' %>
      <%= select_tag :status, options_for_select([['指定なし', ''], ['出勤不可', 'unavailable'], ['出勤可能', 'available'], ['出勤希望', 'desired']], params[:status]), class: 'form-select' %>
    </div>

    <!-- 検索ボタン -->
    <div class="col-md-4 mt-4">
      <%= submit_tag '検索', class: 'btn btn-primary' %>
      <%= link_to 'リセット', admin_shifts_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>

<!-- 一覧表示 -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>シフト開始時間</th>
      <th>シフト終了時間</th>
      <th>ステータス</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.user.name %></td>
        <td><%= shift.shift_start_time.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= shift.shift_end_time.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= shift.status_name %></td>
        <td><%= shift.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
