<h1 class="my-4 text-center"><%= @group.name %>の編集</h1>

<div class="container">
  <%= form_for([:admin, @group]) do |f| %>
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="form-group mb-3">
          <%= f.label :name, "グループ名", class: 'form-label' %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :address, "住所", class: 'form-label' %>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :leader_id, "リーダー", class: 'form-label' %>
          <%= f.collection_select :leader_id, @users, :id, :name, prompt: "リーダーを選択", class: "form-select" %>
        </div>

        <h3>タグ入力</h3>
        <div id="tags">
          <%= f.fields_for :group_tags do |tag_form| %>
            <div class="tag-fields">
              <%= tag_form.label :tag_name, 'タグ名' %>
              <%= tag_form.text_field :tag_name, class: 'form-control' %>
              <%= tag_form.check_box :_destroy %>
              <%= tag_form.label :_destroy, '削除' %>
            </div>
          <% end %>
        </div>

        <%= link_to 'タグを追加', '#', id: 'add_tag', class: 'btn btn-secondary' %>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div>
        <%= f.submit '更新', class: 'btn btn-primary mt-3' %>
      </div>
  <% end %>
      <div>
        <%= link_to '削除', admin_group_path(@group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mt-3" %>
     </div>
      <div>
        <%= link_to '戻る', admin_group_path(@group), class: 'btn btn-secondary mt-3' %>
      </div>
    </div>

</div>

<script>
  document.getElementById('add_tag').addEventListener('click', function(event) {
    event.preventDefault();
    const tagsDiv = document.getElementById('tags');
    const newTagIndex = tagsDiv.querySelectorAll('.tag-fields').length;
    
    const newTagFields = `
      <div class="tag-fields">
        <label for="group_group_tags_attributes_${newTagIndex}_tag_name">タグ名</label>
        <input type="text" name="group[group_tags_attributes][${newTagIndex}][tag_name]" id="group_group_tags_attributes_${newTagIndex}_tag_name" class="form-control">
        <input type="hidden" name="group[group_tags_attributes][${newTagIndex}][_destroy]" id="group_group_tags_attributes_${newTagIndex}__destroy" value="false">
      </div>
    `;
    
    tagsDiv.insertAdjacentHTML('beforeend', newTagFields);
  });
</script>
