<div class="container mt-4">
  <h1 class="text-center"><%= @user.name %> の編集</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |form| %>
        
        <table class="table">
          <tbody>
            <!-- 名前 -->
            <tr>
              <td><%= form.label :name, '名前' %></td>
              <td><%= form.text_field :name, class: 'form-control' %></td>
            </tr>

            <!-- メールアドレス -->
            <tr>
              <td><%= form.label :email, 'メールアドレス' %></td>
              <td><%= form.email_field :email, class: 'form-control' %></td>
            </tr>

            <!-- 役職 -->
            <tr>
              <td><%= form.label :role, '役職' %></td>
              <td><%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] }, class: 'form-control' %></td>
            </tr>

            <tr>
            <td><%= form.label :leader, 'リーダー' %></td>
            <td>
              <% if @is_leader_in_any_group %>
                <!-- ユーザーがリーダーの場合、ラジオボタンを表示して編集できないようにする -->
                <div class="form-check form-check-inline">
                  <%= form.radio_button :leader, true, class: 'form-check-input', disabled: true %>
                  <%= form.label :leader, 'リーダー', class: 'form-check-label' %>
                </div>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :leader, false, class: 'form-check-input', disabled: true %>
                  <%= form.label :leader, '一般ユーザー', class: 'form-check-label' %>
                </div>
                <div>
                <% @leader_groups.each do |group| %>
                  <div class="alert alert-danger mt-2">
                  <span>リーダーをしている店舗があるため編集できません</span><br>
                  </div>
                  <span>リーダーをしている店舗: <%= group.name %></span><br>
                <% end %>
              </div>
              <% else %>
                <!-- ユーザーがリーダーでない場合、ラジオボタンを編集可能にする -->
                <div class="form-check form-check-inline">
                  <%= form.radio_button :leader, true, class: 'form-check-input' %>
                  <%= form.label :leader, 'リーダー', class: 'form-check-label' %>
                </div>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :leader, false, class: 'form-check-input' %>
                  <%= form.label :leader, '一般ユーザー', class: 'form-check-label' %>
                </div>
              <% end %>
            </td>
          </tr>

            <!-- 住所 -->
            <tr>
              <td><%= form.label :address, '住所' %></td>
              <td><%= form.text_field :address, class: 'form-control' %></td>
            </tr>

            <!-- 交通手段 -->
            <tr>
              <td><%= form.label :transportation, '交通手段' %></td>
              <td><%= form.select :transportation, User.transportations.keys.map { |transport| [transport.humanize, transport] }, class: 'form-control' %></td>
            </tr>

            <!-- ステータス選択（ラジオボタン）グループリーダー状態は触れないように -->
            <tr>
            <td><%= form.label :status, 'ステータス' %></td>
            <td>
              <% if @is_leader_in_any_group %>
                <!-- ユーザーがリーダーの場合、ステータスを表示して編集できないようにする -->
                <div class="form-check form-check-inline">
                  <%= form.radio_button :status, true, class: 'form-check-input', disabled: true %>
                  <%= form.label :status, '入会中', class: 'form-check-label' %>
                </div>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :status, false, class: 'form-check-input', disabled: true %>
                  <%= form.label :status, '退会済み', class: 'form-check-label' %>
                </div>
          
                <!-- リーダーをしている店舗がある場合のエラーメッセージを赤く表示 -->
                <div class="alert alert-danger mt-2">
                  <span>リーダーをしている店舗があるためステータスを変更できません</span>
                </div>
                
              <% else %>
                <!-- ユーザーがリーダーでない場合、ステータスを編集可能にする -->
                <div class="form-check form-check-inline">
                  <%= form.radio_button :status, true, class: 'form-check-input' %>
                  <%= form.label :status, '入会中', class: 'form-check-label' %>
                </div>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :status, false, class: 'form-check-input' %>
                  <%= form.label :status, '退会済み', class: 'form-check-label' %>
                </div>
              <% end %>
            </td>
          </tr>


          </tbody>
        </table>

        <!-- ボタンの配置（左右） -->
        <div class="d-flex justify-content-between">
          <div>
            <%= form.submit '更新', class: 'btn btn-primary mt-3' %>
          </div>
          <div>
            <%= link_to '戻る',  request.referer || admin_user_path(@user), class: 'btn btn-secondary mt-3' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
