<div class="container mt-4">
  <h1 class="text-center">ユーザー一覧</h1>

  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>役職</th>
        <th>リーダー</th>
        <th>所属グループ</th>
        <th>リーダー状態のグループ</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
          <%= user.name %>
          <% if user.status? %>
          <% else %>
          <span class="required">※退会済み</span>
          <% end %>
          </td> 
          <td><%= user.email %></td>
          <td><%= user.role_name %></td>
          <td><%= user.leader ? 'リーダー' : '一般ユーザー' %></td>
          <td>
            <% if user.groups.any? %>
              <%= user.groups.map(&:name).join('<br>').html_safe %> <!-- 複数のグループ名を改行して表示 -->
            <% else %>
              未登録
            <% end %>
          </td>
          <td>
            <% leader_groups = Group.where(leader_id: user.id) %>
            <% if leader_groups.any? %>
              <%= leader_groups.map(&:name).join('<br>').html_safe %> <!-- リーダーになっているグループ名を改行して表示 -->
            <% else %>
              なし
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to '詳細', admin_user_path(user), class: 'btn btn-info btn-sm' %>
            
            <% if user.email == "guest@example.com" %>
            <% else %>
            <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-warning btn-sm' %>
            <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="text-end">
    <%= link_to 'ダッシュボードへ戻る', admin_homes_path, class: 'btn btn-secondary' %> <!-- 管理者ダッシュボードに戻るリンク -->
  </div>
</div>
