<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メール</th>
      <th>役職</th>
      <th>詳細</th>
      <th>編集</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to '詳細', public_user_path(user) %></td>
        <td><%= link_to '編集', edit_public_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>